final/__pycache__/gesture_controller.cpython-38.pyc
final/__pycache__/gesture_controller.cpython-38.pyc
.venv
src/Gesture_Controller_Gloved.py
src/Proton.py
src/.vs/slnx.sqlite
src/.vs/slnx.sqlite
*.json
*.sqlite
*.sqlite
*.pyc
*.json
.vs/repo/v16/.suo
.vs/gesture_controller/v16/.suo
*.sqlite
*.vs
.vs/slnx.sqlite
*.gif
